# -----------------------
# | Add Python packages |
# -----------------------
# To install below packages at startup, uncomment this line in "docker-compose.yml" file!
# - ./entrypoint.sh:/entrypoint.sh
# then down the docker container ($ docker-compose down) and up it again ($ docker-compose up -d).
# -----------------------
# paramiko==2.7.2 # for auto_backup module
acme
anyio
appdirs
attrs
Babel
bcrypt
beautifulsoup4
blinker
boto3
botocore
cached-property
certbot
certifi
cffi
chardet
colorama
ConfigArgParse
configobj
cryptography
dbus-python
decorator
defer
defusedxml
distro
distro-info
docopt
docutils
dropbox
ebaysdk
entrypoints
et-xmlfile
exceptiongroup
fail2ban
freezegun
future
geoip2
gevent
greenlet
h11
httpcore
httplib2
httpx
idna
isodate
Jinja2
jmespath
josepy
keyring
launchpadlib
lazr.restfulclient
lazr.uri
libsass
lxml
MarkupSafe
maxminddb
mock
netifaces
nextcloud-api-wrapper
num2words
numpy
oauthlib
ofxparse
openpyxl
pandas
paramiko
parsedatetime
passlib
pbr
Pillow
pip
platformdirs
ply
polib
psutil
psycopg2
pyasn1
pyasn1-modules
pycparser
pydot
Pygments
PyGObject
PyICU
pyinotify
PyJWT
pymacaroons
PyNaCl
pyncclient
pyOpenSSL
pyparsing
PyPDF2
pyRFC3339
pyserial
python-apt
python-dateutil
python-ldap
python-stdnum
python-telegram-bot
pytz
pyusb
PyYAML
qrcode
reportlab
requests
requests-file
requests-toolbelt
rjsmin
s3transfer
SecretStorage
setuptools
simplejson
six
sniffio
soupsieve
ssh-import-id
stone
systemd-python
telegram-send
typing_extensions
tzdata
ubuntu-advantage-tools
ufw
urllib3
vobject
wadllib
Werkzeug
wheel
xlrd
XlsxWriter
xlwt
zeep
zope.component
zope.event
zope.hookable
zope.interface
